#welcome
  .title
    %h2 Fusce ultrices fringilla metus
    %span.byline Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue
    %p
      This is
      
      %strong Privy
     
      %a{:href => "http://templated.co", :rel => "nofollow"} TEMPLATED
     
      %a{:href => "http://fotogrph.com/"} Fotogrph
      %a{:href => "http://templated.co/license"} Creative Commons Attribution
      license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :)
      %ul.actions
        %li
          %a.button{:href => "#"} Etiam posuere