#copyright
  %span
    © Untitled. All rights reserved. | Photos by
    %a{:href => "http://fotogrph.com/"} Fotogrph
  %span
    Design by
   
    %a{:href => "http://templated.co", :rel => "nofollow"} TEMPLATED