.footer
  .pure-menu.pure-menu-horizontal
    %ul
      %li.pure-menu-item
        %a.pure-menu-link{:href => "http://purecss.io/"} About
      %li.pure-menu-item
        %a.pure-menu-link{:href => "http://twitter.com/yuilibrary/"} Twitter
      %li.pure-menu-item
        %a.pure-menu-link{:href => "http://github.com/yahoo/pure/"} GitHub