#header
  #logo
    = image_tag "1.jpg",:height=>"100",:wight=>"100"
  %h1
    %a{:href => "#"} Privy
    %span
      Design by
      %a{:href => "http://templated.co", :rel => "nofollow"} TEMPLATED
  #menu
    %ul
      %li.current_page_item
        %a{:accesskey => "1", :href => "#", :title => ""} Homepage
      %li
        %a{:accesskey => "3", :href => "#", :title => ""} About Me
      %li
        %a{:accesskey => "5", :href => "#", :title => ""} Contact Us