.content.pure-u-1.pure-u-md-3-4       
  .posts
    %h1.content-subhead Recent Post
        
    %section.post
      - @post.each do |i|
        %div.row
          %div.col-lg-8
            %header.post-header
            %div.page-header
              %h2.post-title= link_to i.title.upcase,i,:style=>"text-decoration:none;font-weight:bold;"
            %p.post-meta= simple_format(i.body[0..i.body.size/3])
            %p ...
          %div.col-lg-2
            = image_tag i.image.url(:thumb),:class=>"post-avatar"
        .clearfix
      = will_paginate @post