#main
  #banner
    = image_tag "1.jpg",:class=>"image-full"
     
    = render "shared/banner"
    #featured
      .title
        %h2 Maecenas lectus sapien
        %span.byline Integer sit amet aliquet pretium
      %ul.style1
        %li.first
          %p.date
            %a{:href => "#"}
              Jan
              %b 05
          %h3 Amet sed volutpat mauris
          %p
            %a{:href => "#"} Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.
        %li
          %p.date
            %a{:href => "#"}
              Jan
              %b 03
          %h3 Sagittis diam dolor amet
          %p
            %a{:href => "#"} Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.
        %li
          %p.date
            %a{:href => "#"}
              Jan
              %b 01
          %h3 Amet sed volutpat mauris
          %p
            %a{:href => "#"} Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.
        %li
          %p.date
            %a{:href => "#"}
              Dec
              %b 31
          %h3 Sagittis diam dolor amet
          %p
            %a{:href => "#"} Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.
    = render "shared/footer"
    
