.content.pure-u-1.pure-u-md-3-4       
  .posts
    %h1.content-subhead Recent Post
        
    %section.post
      - @post.each do |i|
        %header.post-header
        = image_tag i.image.url(:thumb),:class=>"img-avatar"
        %h2.post-title= i.title
        %p.post-meta= i.body
                  